body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */

.header_container_out {
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
    border: 1px solid black;
    background:#ffffff;
    justify-content: center;  
}
.header_container_in {

    
}




/*Tabs */

.tabs_container {
    display: flex;
    height: 10%;
    flex-direction: row;
    border: 1px solid black;
    background:#ffffff;
    justify-content: space-between;
}
.tab {
    color: white;
    text-decoration: none ;
}



/*select_tab */

.select_tab {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
